// header.component.scss

// partial-styles.scss
@use '../../partial-styles/style-vars';

.spacer {
  flex: 1 1 auto;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: style-vars.$primary-color;
  color: #fff;
  display: flex;
  padding: 35px 70px;
  align-items: center;
  font: 20px/32px style-vars.$font-stack; // $font-stack from styles.scss
  z-index: 5;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: style-vars.$secondary-color;
    }

    .app__name {
      font-weight: 600;
    }

    .menu__item {
      font-weight: 450;
      padding: 10px;
    }
  }

  .brand {
    font-size: 1.5rem;
    font-weight: 800;
    background: -webkit-linear-gradient(white, style-vars.$secondary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a.active {
    color: style-vars.$secondary-color-gold-light;
  }
}

@media (max-width: style-vars.$tablet-max-width) {
  nav {
    padding: 10px 16px;
  }

}
