<nav>
  <a routerLink="/" routerLinkActive="active">
    <span class="item__routing pr-1">
      <i class="bi bi-house-heart-fill icon"></i>
    </span>
  </a>

  <a routerLink="/" routerLinkActive="active">
    <span class="capitalize item__routing">{{ appName }}</span>
  </a>
  <span class="spacer"></span>
  <a routerLink="hymns" routerLinkActive="active">
    <span class="capitalize item__routing">Hymns</span>
  </a>
  <button class="search-button button-icon" (click)="openModal()">
    <i class="bi bi-search search-icon"></i>
  </button>
</nav>

<app-modal #modal [modalConfig]="modalConfig">
  working!
</app-modal>

