// header.component.scss

// styles.scss
@use '../../partial-styles/style-vars';

.spacer {
  flex: 1 1 auto;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  // background-color: #3f51b5;
  background-color: #3db6f2;
  color: #fff;
  // color: #f2d43d;
  display: flex;
  padding: 35px 60px;
  align-items: center;
  height: 56px;
  font: 500 20px/32px style-vars.$font-stack; // $font-stack from styles.scss
  z-index: 2;

  a:active, a[routerLinkActive] {
    background: -webkit-linear-gradient(white, #FFE08A);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 800px) {
  nav {
    padding: 10px 16px;
  }

}


