// Font
$font-stack: "Inter", "Reddit Sans", Roboto, "Helvetica Neue", sans-serif;
$font-legible: 20px;
$font-line-height: 1.5;
$font-small: 15px;
$font-word-spacing: 3px;

// Primary
// $font-color-primary:#08202c;
$font-color-primary:rgb(0, 32, 53);
// $primary-color: #3db6f2;
$primary-color: rgb(0, 153, 255);
// $primary-color-hover: #3db6f2c5;
$primary-color-hover: rgba(0, 153, 255, 0.808);
// $primary-color-half-transparent: #3db6f24e;
$primary-color-half-transparent: rgba(0, 153, 255, 0.329);
// $primary-color-transparent: #3db6f21b;
$primary-color-transparent: rgba(0, 153, 255, 0.129);
$primary-color-transparent1: rgba(0, 153, 255, 0.311);
$primary-color-divider: #0099ffda;

// Secondary
$secondary-color: #FFE08A;

$secondary-color-transparent: #ffe08a7e;
$secondary-color-gold: #ffbb00;
$secondary-color-goldenrod: goldenrod;
$secondary-color-goldenrod-dark: rgba(136, 103, 20, 0.756);

// Other colors
$font-color-info: #721c2593;

// Spacing
$padding-default: 5px;

// Media width
$laptop-max-width: 1024px;
$tablet-max-width: 820px;
$phone-max-width: 480px;
