// Font
$font-stack: "Inter", "Reddit Sans", Roboto, "Helvetica Neue", sans-serif;
$font-legible: 18px;

// Primary
$font-color-primary:#08202c;
$primary-color: #3db6f2;
$primary-color-hover: #3db6f2c5;
$primary-color-half-transparent: #3db6f24e;
$primary-color-transparent: #3db6f21b;

// Secondary
$secondary-color: #FFE08A;

// Spacing
$padding-default: 5px;
