<!-- Loader: shows if page content is loading -->
<div *ngIf="isLoading" class="loading-container">
  <img src="assets/gifs/loading.gif" width="70px" alt="Loading...">
</div>

<div *ngIf="!isLoading" [@routeAnimations]>

  <section class="custom-container">
    <!-- Carousel Section -->
    <div class="carousel-section">
      <app-carousel></app-carousel>
    </div>
    <!-- Space -->
    <div class="space-3"></div>
  </section>

  <!-- Thin Divider -->
  <div class="thin-divider"></div>

  <!-- Page Context Section -->
  <section class="custom-container__home custom-container">
    <p class="dropcap">Welcome! This app provides <span class="emphasized">hymn lyrics</span> from the <span class="emphasized">Only Believe Ghanaian
        Hymnal</span>. In the search section below, you can search for a hymn by title, stanza, chorus or all.</p>

    <div class="search__tips">
      <p><strong><span style="color: rgb(0, 39, 65); font-size: larger;">Search Tips:</span></strong></p>
      <hr>
      <ul class="custom-list">
        <li><strong>By Title:</strong> Type any word from the hymn title.</li>
        <li><strong>By Stanza or Chorus:</strong> Check the corresponding box and type any word you recall.</li>
        <li><strong>All:</strong> Check the "All" box to search by title, stanza, and chorus.</li>
      </ul>
    </div>
    <p class="note"><strong>Note:</strong> Maximum number of hymns available is 400.</p>
  </section>

  <!-- Search -->
  <section>
    <app-search [page_search]="true"></app-search>
  </section>

  <!-- Page dividers -->
  <div class="divider1"></div>
  <div class="divider2"></div>

  <!-- Hymn List -->
  <section class="custom-container white-back">
    <div class="hymn-list">
      <div class="heading1 heading__design centered">
        A Peek At Hymns
      </div>
      <div class="space-1"></div>
      <section class="white-back">
        <div *ngFor="let hymn of hymns">
          <app-song [hymn]="hymn"></app-song>
        </div>
      </section>
    </div>

    <!-- Load More link to Hymns page -->
    <div class="more centered">
      <a (click)="moreHymns()">
        <img src="assets/gifs/music_note_blue.gif" width="50px" alt="Music Note">
        More Hymns
      </a>
    </div>
  </section>
  <div class="space-3"></div>



</div>
