<section class="custom-container">
  <!-- Carousel Section -->
  <div class="carousel-section">
    <app-carousel></app-carousel>
  </div>
  <!-- Space -->
  <div class="space-3"></div>
  <!-- Search -->
  <section class="search-area">
    <app-search></app-search>
  </section>
</section>

<!-- Page dividers -->
<div class="divider1"></div>
<div class="divider2"></div>

<!-- Hymn List -->
<section class="custom-container">
  <div class="hymn-list">
    <div class="heading1 heading__design centered">
      A Peek At Hymns
    </div>
    <div class="space-1"></div>
    <section class="section__design">
      <div *ngFor="let hymn of hymns">
        <app-song [hymn]="hymn"></app-song>
      </div>
    </section>
  </div>
  <div class="more centered">
    <a href="../hymns">
      <img src="../../../assets/gifs/music_note_blue.gif" width="50px" alt="Music Note">
      More Hymns
    </a>
  </div>
</section>
<div class="space-3"></div>


