// partial-styles.scss
@use '../../shared/partial-styles/style-vars';
@use '../../shared/partial-styles/style-mixins';


%divider {
  display: flex;
  padding: 16rem;
  position: relative;
  isolation: isolate;
}

.divider1 {
  @extend %divider;
  background-color: style-vars.$primary-color-divider;
  clip-path: polygon(0% 41.01%, 34.48% 66.08%, 50.5% 53.6%, 82.9% 53%, 100% 38%, 100% 75%, 67.26% 88.8%, 0% 71.25%);
  margin-top: -225px;
  z-index: 2;
}

.divider2 {
  @extend %divider;
  background-color: style-vars.$primary-color-half-transparent;
  clip-path: polygon(-0.50% 55.66%, 34.64% 70.58%, 50.17% 53.50%, 82.40% 43.48%, 98.92% 23.58%, 100.14% 60.40%, 68.02% 83.66%, 0.50% 85.76%);
  margin-top: -515px;
  z-index: 1;
}

.hymns-list {
  padding-bottom: 10px;
  font-size: style-vars.$font-legible;
}

// More section
.more {
  a {
    font-size: style-vars.$font-legible;
    font-weight: 500;
    color: style-vars.$secondary-color-goldenrod;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: style-vars.$secondary-color-goldenrod;
    }
  }
}

.custom-container__home {
  font-size: style-vars.$font-legible;
  @include style-mixins.three-gradient(white, style-vars.$primary-color-transparent, white);
  padding-bottom: 25px;
  padding-top: 30px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  .dropcap {
    font-family: Arial, sans-serif;
    padding-bottom: 15px;
    &::first-letter {
      font-size: 3.5rem;
      color: style-vars.$secondary-color-goldenrod;
      font-weight: bold;
      float: left;
      margin-right: 5px;
      line-height: 1;
    }
  }


  p {
    margin: 0 0 10px;
  }

  strong {
    color: #333; // Darker color for emphasis
  }

  .search__tips {
    padding: 15px;
    background-color: white;
    border-radius: 15px;

    .custom-list {
      list-style: none; // Remove default list styling
      padding-left: 0;

      li {
        position: relative; // Needed for positioning pseudo-element
        padding-left: 20px; // Space for the custom bullet

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%) rotate(45deg); // Rotate to create diamond shape
          width: 10px; // Size of the diamond
          height: 10px; // Size of the diamond
          background-color: #333; // Color of the diamond
        }
      }
    }
  }

  .note {
    color: style-vars.$secondary-color-goldenrod; // Red color for the note
    font-weight: bold;
    font-size: medium;
    padding-top: 30px;
  }
}



@media (min-width: style-vars.$laptop-max-width) {
  // .carousel-section {
  //   padding-top: 30px;
  // }
}

@media (max-width: style-vars.$tablet-max-width) {

  // .carousel-section {
  //   padding-top: 15px;
  // }
  .divider1 {
    padding: 10rem;
    margin-top: -145px;
  }

  .divider2 {
    padding: 10rem;
    margin-top: -310px;
  }
}

@media (max-width: style-vars.$phone-max-width) {

  // .carousel-section {
  //   padding-top: 0;
  // }
  .divider1,
  .divider2 {
    padding: 5rem;
    margin-top: -95px;
  }

  .divider2 {
    padding: 5rem;
    margin-top: -155px;
  }

}
