@use '../../shared/partial-styles/style-vars';

// Hymn section
section {
  color: style-vars.$font-color-primary;
  font-size: style-vars.$font-legible;

  // Stanza and Chorus link
  a {
    text-decoration: none;
    color: style-vars.$secondary-color-goldenrod-dark;
    font-style: italic;
    &:hover {
      color: style-vars.$secondary-color-goldenrod;
    }
  }

  // Hymn stanza padding
  .hymn__stanza {
    padding-top: 20px;
  }

  // Picture background for More section
  .picture-back {
    background: url("../../../assets/images/one_note_tilted.png") no-repeat bottom right;
    background-size: contain;
  }

  // Inner background for More section
  .inner-back {
    background-color: rgba(255, 255, 255, 0.8);
  }

  // Stanza numbers
  .stanza__numbers {
    font-style: italic;
    display: flex;
    gap: 10px;
    align-items: baseline;
    flex-direction: row;
  }
}
