@use '../../shared/partial-styles/style-vars';

section {
  color: style-vars.$font-color-primary;
  font-size: style-vars.$font-legible;
  a {
    text-decoration: none;
    color: style-vars.$secondary-color-goldenrod-dark;
    font-style: italic;
    &:hover {
      color: style-vars.$secondary-color-goldenrod;
    }
  }

  .hymn__stanza {
    padding-top: 20px;
  }

  .picture-back {
    background: url("/assets/images/one_note_tilted.png") no-repeat bottom right;
    background-size: contain;
  }

  .inner-back {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .centered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .stanza__numbers {
    font-style: italic;
    display: flex;
    gap: 10px;
    align-items: baseline;
    flex-direction: row;
  }
}
