<!-- Modal Component -->
<ng-template #modal>
  <div [@fadeInOut]>
    <!-- Modal Header -->
    <div class="modal-header" *ngIf="!modalConfig.hideHeader">
      <!-- <h5 class="modal-title">{{ modalConfig.modalTitle }}</h5> -->
      <!-- Custom Close buttons -->
      <div>
        <!-- Empty div here for modal flex container, shifting the close button to the right-->
      </div>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer" *ngIf="!modalConfig.hideFooter">
      <!-- Dismiss Button -->
      <button type="button"
              class="btn btn-outline-secondary"
              (click)="dismiss()"
              *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
              [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">
        {{ modalConfig.dismissButtonLabel }}
      </button>

      <!-- Close Button -->
      <button type="button"
              class="btn btn-outline-primary"
              (click)="close()"
              *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
              [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
        {{ modalConfig.closeButtonLabel }}
      </button>
    </div>
  </div>
</ng-template>

