<!-- Loader: shows if page content is loading -->
<div *ngIf="isLoading" class="loading-container">
  <img src="assets/gifs/loading.gif" width="70px" alt="Loading...">
</div>

<section *ngIf="!isLoading" [@routeAnimations]>
  <!-- Heading -->
  <app-page-heading [pageTitle]="title"></app-page-heading>
  <!-- Body -->
  <div class="custom-container scroll-over" [ngClass]="{'scroll-effect': isScrolling}">
    <div class="space-1"></div>
    <div class="hymn-list">
      <div *ngFor="let hymn of hymns">
        <app-song [hymn]="hymn"></app-song>
      </div>
    </div>
    <div class="scroll-effect__buttons">
      <!-- Load More button -->
      <button class="primary-button__no-outline" (click)="loadMore()">
        Load More
        <i class="bi bi-caret-right"></i>
      </button>

      <!-- Load Less button -->
      <button class="secondary-button__no-outline" (click)="loadLess()">
        <i class="bi bi-caret-left"></i>
        Load Less
      </button>
    </div>
  </div>

  <!-- More section -->
  <div class="more last-section__before scroll-over centered"></div>
  <div class="image-container">
    <img src="assets/gifs/waterfall.gif" alt="Refreshing" class="last-image">
    <div class="overlay">
    </div>
    <div class="overlay__text">
      <div class="glow">
        Aren't these hymns Refreshing!
      </div>
      <div class="feedback__text ">Let's hear from you:
      </div>
      <div class="feedback__link">
        <a href="https://forms.gle/z3iC9n6WMyrKn5fv5" target="_blank"
        style="color: rgb(228, 243, 255);">
          <i class="bi bi-emoji-smile-fill"></i> Feedback
        </a>
      </div>
    </div>
  </div>

</section>



