// Hymn List
.hymn-list {
  width: 100%;
  max-height: 60%;
  overflow-y: auto;
  transition: max-height 0.5s ease-out;

  &.scroll-effect {
    max-height: 100vh; /* Adjust to the height you want to scroll to */
  }
}

// Scroll Effect More and Less buttons
.scroll-effect__buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
}


