<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>About</h3>
      <p>The best hymns collection for your spiritual growth and worship.</p>
    </div>
    <div class="footer-section">
      <h3>Let's Connect</h3>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/ruthyankson"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/ruthyankson"><i class="bi bi-github"></i></a>
        <a href="https://twitter.com/adwowaray"><i class="bi bi-twitter-x"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p style="padding-top: 2%;">&copy; {{ currentYear }} Only Believe Hymnal. All rights reserved.</p>
  </div>
</footer>
