/* Footer Styles */

// Style variables import
@use '../../partial-styles/style-vars';

.footer {
  // background: linear-gradient(white 10%, style-vars.$primary-color-dark 90%);
  background-color: style-vars.$primary-color-dark;
  color: #fff;
  padding: 8% 1.5% 1.5% 1.5%;
  text-align: center;

  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 2%;

    .footer-section {
      flex: 1;
      margin: 10px;

      h3 {
        // border-bottom: 2px solid style-vars.$secondary-color-goldenrod;
        // background-image: conic-gradient(from 135deg, style-vars.$secondary-color-goldenrod, style-vars.$secondary-color-goldenrod-darker, style-vars.$secondary-color-goldenrod-dark);
        padding: 5%;
        border-radius: 10px;
        // background-image: radial-gradient(style-vars.$secondary-color-goldenrod-darker, style-vars.$secondary-color-goldenrod-dark);
        // padding-bottom: 10px;
        margin-bottom: 15px;
        font-size: 1.5rem;
        box-shadow: 0 6px 4px -4px style-vars.$secondary-color-goldenrod;
        // box-shadow:
        //  -10px 0 10px style-vars.$secondary-color-goldenrod,
        //  10px 0 10px style-vars.$secondary-color-goldenrod;
      }

      p {
        font-size: 1rem;
        line-height: 1.6;
      }

      .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: #fff;
          margin: 0 10px;
          font-size: 1.5rem;
          text-decoration: none;
          transition: color 0.3s;
          &:hover {
            color: #ddd;
          }
        }
      }

    }
  }

  .footer-bottom {
    border-top: 1px solid style-vars.$secondary-color-goldenrod;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 0.9rem;
  }
}
