/* Footer Styles */

// Style variables import
@use '../../partial-styles/style-vars';

.footer {
  position: absolute;
  background-color: style-vars.$primary-color-dark;
  color: #fff;
  padding: 8% 1.5% 1.5% 1.5%;
  text-align: center;
  width: 100%;

  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 2%;

    .footer-section {
      flex: 1;
      margin: 10px;

      h3 {
        padding: 5%;
        margin-bottom: 15px;
        font-size: 1.5rem;
        color: style-vars.$secondary-color-goldenrod;
      }

      p {
        font-size: 1rem;
        line-height: 1.6;
      }

      .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: #fff;
          margin: 0 10px;
          font-size: 1.5rem;
          text-decoration: none;
          transition: color 0.3s;
          &:hover {
            color: #ddd;
          }
        }
      }

    }
  }

  .footer-bottom {
    border-top: 1px solid style-vars.$secondary-color-goldenrod;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 0.9rem;
  }
}
