@use '../../shared/partial-styles/style-vars';

// Carousel
.carousel {
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 10px 0 style-vars.$secondary-color-goldenrod-dark inset;
}

// Slider
.slider {
  padding: 10px 0;
}

