<!-- More section -->
<div class="more last-section__before scroll-over centered"></div>
<div class="image-container">
  <img [src]=moreImg alt="Refreshing" class="last-image">
  <div class="overlay">
  </div>
  <div class="overlay__text">
    <div class="glow">
      {{ moreText }}
    </div>
    <div class="feedback__text">
      Let's hear from you:
    </div>
    <div class="feedback__link">
      <a href="https://forms.gle/z3iC9n6WMyrKn5fv5" target="_blank">
        <i class="bi bi-emoji-smile-fill"></i> Feedback
      </a>
    </div>
  </div>
</div>
