/* You can add global styles to this file, and also import other style files */

// style-vars
@use './app/shared/partial-styles/style-vars';

// Mixins
@use './app/shared/partial-styles/style-mixins';

// HTML
html {
  margin: 0;
  overflow-x: hidden;

  // Body
  body {
    height: 100%;
    font-family: style-vars.$font-stack;
    color: style-vars.$font-color-primary;
    line-height: style-vars.$font-line-height;
    word-spacing: style-vars.$font-word-spacing;
    z-index: 0;
    margin: 0;
  }
}

// Heading
.heading {
  @include style-mixins.main-heading($heading-font-size: 1.8rem, $font-color: style-vars.$font-color-primary-heading, $sticky-top: 50px)
}

// Heading 1
.heading1 {
 @include style-mixins.heading-non-sticky($heading-font-size: 1.6rem, $font-color: style-vars.$font-color-primary-heading)
}

// Main Heading design
%main-heading__design {
  clip-path: polygon(100% 0%, 100% 75%, 50% 90%, 0% 75%, 0% 0%);
  padding: 4rem 0;
}

// Heading design
.heading__design {
  @extend %main-heading__design;
  background: linear-gradient(rgb(255, 255, 255), style-vars.$primary-color-transparent1, rgb(255, 255, 255));
}

// Heading design 1
.heading__design1 {
  @extend %main-heading__design;
  background: linear-gradient(rgb(255, 255, 255), style-vars.$primary-color-transparent1);
}

// Hymns pages Heading
.hymns__heading {
  @include style-mixins.main-heading($heading-font-size: 1.8rem, $font-color: style-vars.$font-color-primary-heading, $sticky-top: 50px)
}

// White background
.white-back {
  background-color: white;
  position: relative;
}

// Custom Container
.custom-container {
  background-color: white;
  padding: 15px 200px;
}

// For Carousel
.slick-dots li button:before {
  padding-top: 10px;
  font-size: 14px !important;
  color: style-vars.$secondary-color-goldenrod !important;
}

// Emphasized text
.emphasized {
  font-weight: 500;
  color: style-vars.$secondary-color-goldenrod;
}

// Main grid
%main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

// Display items in grid selector
.grid__container, .grid__container--one-line {
  @extend %main-grid;
}

// .rotated__left {
//   rotate: -1.9deg;
// }

// .rotated__right {
//   rotate: 3.5deg;
// }

// Icons
.icon {
  font-size: 27px;
}

// Padding top 1
.pt-1 {
  padding-top: style-vars.$padding-default;
}

// Padding top 2
.pt-2 {
  padding-top: style-vars.$padding-default*2;
}

// Padding top 3
.pt-3 {
  padding-top: style-vars.$padding-default*3;
}

// Padding right 1
.pr-1 {
  padding-right: style-vars.$padding-default;
}

// Padding right 2
.pr-2 {
  padding-right: style-vars.$padding-default*2;
}

// Padding right 3
.pr-3 {
  padding-right: style-vars.$padding-default*3;
}

// Padding right 4
.pr-4 {
  padding-right: style-vars.$padding-default*4;
}

// Padding right 5
.pr-5 {
  padding-right: style-vars.$padding-default*5;
}

// Padding left 2
.pl-2 {
  padding-left: style-vars.$padding-default*2;
}

// Padding left 3
.pl-3 {
  padding-left: style-vars.$padding-default*3;
}

// Padding left 4
.pl-4 {
  padding-left: style-vars.$padding-default*4;
}

// Info box
.info {
  padding: 10px;
  font-size: style-vars.$font-small;
  background-color: style-vars.$secondary-color-transparent;
}

// Primary button
.primary-button {
  @include style-mixins.main-button()
}

// Secondary button
.secondary-button {
  @include style-mixins.main-button($font-color: style-vars.$primary-color-dark,
  $button-background:style-vars.$font-color-primary-light,
  $button-background-hover: style-vars.$primary-color-transparent)
}


// Search button icon on header
.button-icon {
  @include style-mixins.no-outline-button($font-color: white,
  $background-hover: style-vars.$primary-color-hover,
  $background-hover-transparent: style-vars.$primary-color-hover-light-transparent,
  $button-border-radius: 50%, $button-padding: 7px);
  height: 50px;
  width: 50px;
  font-weight: bold;
}

// No outline primary button
.primary-button__no-outline {
  @include style-mixins.no-outline-button(
  $background-hover: style-vars.$primary-color-hover,
  $button-border-radius: 5px,
  $background-hover-transparent: style-vars.$primary-color-hover-light-transparent);
}

// No outline secondary button
.secondary-button__no-outline {
  @include style-mixins.no-outline-button(
  $background-hover: style-vars.$secondary-color-gold-hover,
  $button-border-radius: 5px,
  $background-hover-transparent: style-vars.$secondary-color-gold-hover-transparent);
}

// Routing Item
.item__routing {
  cursor: pointer;
}

// Loading container
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// Centered
.centered {
  text-align: center;
}

// Space top 1
.space-1 {
  padding-top: style-vars.$padding-default*3;
}

// Space top 2
.space-2 {
  padding-top: style-vars.$padding-default*5;
}

// Space top 3
.space-3 {
  padding-top: style-vars.$padding-default*10;
}

// Space top 5
.space-5 {
  padding-top: style-vars.$padding-default*15;
}

// Information box style
.info {
  padding: 10px;
  font-size: style-vars.$font-small;
  background-color: style-vars.$secondary-color-transparent;
  position: relative;
  color: style-vars.$font-color-info;
  border: 1px solid #f5c6cb;
  border-radius: 5px;

  .close-button-info {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: style-vars.$font-legible;
    font-weight: 500;
    color: style-vars.$font-color-info;
    cursor: pointer;
    line-height: 1;
    &:hover {
      color: style-vars.$font-color-info-dark;
    }
  }
}

// Clear button for search box
.clear-button {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  font-size: style-vars.$font-legible;
  line-height: 1;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #929292;
  padding: 0;
  margin: 0;
  &:hover {
    color: style-vars.$font-color-primary;
  }
}



/*  For search component */

.label-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__parameters {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: style-vars.$font-legible;
}

/* For hymn list in search, home page and hymns page */

.flex-icon {
  width: 10%;
  /* Icon gradient color */
  background: -webkit-linear-gradient(style-vars.$secondary-color, style-vars.$font-color-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.checkbox-flex {
  display: flex;
  flex-direction: row;
  align-items: end;
}

/* The Checkbox container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:hover ~ .checkmark {
      background-color: #ccc;
    }

    &:checked ~ .checkmark {
      background-color: #2196F3;

      &::after {
        display: block;
      }
    }
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #eee;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
      /* Style the checkmark/indicator */
      left: 9px;
      top: 4px;
      width: 8px; // Checkmark width
      height: 14px; // Checkmark height
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

}

// Thin dividing lines between hymns on hymn list
.thin-divider {
  @include style-mixins.main-thin-divider($middle-color: style-vars.$primary-color-transparent1);
}


/* Hymn List */

.flex-container {
  display: flex;
  align-items: center;
}

// Hymn number
.flex-number {
  width: 20%;
}

// Hymn title
.flex-text {
  width: 70%;
}

// Song anchor flex item padding
.flex-item__padding {
  padding: 0 0.5rem;
}

// Section before the footer
.more {
  padding: 60px 0 40px;
}


// Text at the end of the section that is not a link
.after-text {
  font-size: style-vars.$font-legible;
}

/* Styles for section */

.section__sticky {
  @include style-mixins.sticky-section();
}

.section__relative {
  position: relative;
}

//At the end of the section and before the footer
.last-section__before {
  @include style-mixins.two-gradient(white, style-vars.$primary-color-dark);
}

.last-image {
  display: block;
  width: 100%;
}

// Glowing text
.glow {
  font-size: style-vars.$font-legible;
  font-weight: bold;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

// Styles for last image container at the end of the page
.image-container {
  display: block;
  position: relative;
  width: 100%;
}

// Overlay at the end of the section
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  transition: .5s ease;
  background-color: style-vars.$primary-color-dark;
}

// Text at the end of the section
.overlay__text {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

// Chorus Padding
.chorus__padding {
  padding-bottom: 36px;
}

/* ngbmodal override */

// Remove padding right from modal
body.modal-open {
  padding-right: 0 !important;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px style-vars.$secondary-color-gold, 0 0 30px style-vars.$secondary-color-gold, 0 0 40px style-vars.$secondary-color-gold, 0 0 50px style-vars.$secondary-color-gold, 0 0 60px style-vars.$secondary-color-gold;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 20px style-vars.$secondary-color-gold-light, 0 0 30px style-vars.$secondary-color-gold-light, 0 0 50px style-vars.$secondary-color-gold-light, 0 0 50px style-vars.$secondary-color-gold-light, 0 0 60px style-vars.$secondary-color-gold-light, 0 0 70px style-vars.$secondary-color-gold-light;
  }
}

// Scroll over section
.scroll-over {
  position: relative;
  z-index: 2;
}

// Background cover
.back-cover {
  position: relative;
  isolation: isolate;
  &::after {
    content: '';
    background: url("/assets/images/one_note.png") no-repeat center center;
    background-size: contain;
    width: 100%;
    position: absolute;
    z-index: -1;
    inset: 0;
  }
}


/* Media queries */

// Laptop screen max width 
@media (max-width: style-vars.$laptop-max-width) {
  .custom-container {
    padding: 15px 90px;
  }

}

// Tablet screen max width
@media (max-width: style-vars.$tablet-max-width) {
  .custom-container {
    padding: 15px 50px;
  }

  .thin-divider {
    padding: 0.6rem;
  }

}

// Phone screen max width
@media (max-width: style-vars.$phone-max-width) {
  // Custom container
  .custom-container {
    padding: 15px;
  }

  // Padding top for only mobile
  .mob__pt-2 {
    padding-top: style-vars.$padding-default*2;
  }

  // Centered alignment for only mobile
  .mob__centered {
    text-align: center;
  }

  // Search parameters
  .search__parameters {
    display: flex;
    flex-direction: column;
    align-items: center;

    .checkbox-flex {
      padding: 10px 0;
    }
  }

  // Thin divider
  .thin-divider {
    padding: 0.4rem;
  }

  // Grid container for stanzas
  .grid__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  // Heading design
  .heading__design1 {
    padding: 3rem 0;
  }

  // Chorus padding
  .chorus__padding {
    padding-bottom: 16px;
  }

}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
