/* You can add global styles to this file, and also import other style files */

// style-vars
@use './app/shared/partial-styles/style-vars';

// Mixins
@use './app/shared/partial-styles/style-mixins';

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

html {
  margin: 0;

  // * {
    overflow-x: hidden;
  // }

  body {
    height: 100%;
    font-family: style-vars.$font-stack;
    color: style-vars.$font-color-primary;
    line-height: style-vars.$font-line-height;
    word-spacing: style-vars.$font-word-spacing;
    z-index: 0;
    margin: 0;
  }
}

.heading-margins {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.heading {
  @include style-mixins.main-heading($heading-font-size: 1.8rem, $font-color: style-vars.$font-color-primary-heading)
}

.heading1 {
 @include style-mixins.main-heading($heading-font-size: 1.6rem, $font-color: style-vars.$font-color-primary-heading)
}

%main-heading__design {
  clip-path: polygon(100% 0%, 100% 75%, 50% 90%, 0% 75%, 0% 0%);
  padding: 3rem 0;
}

.heading__design {
  @extend %main-heading__design;
  background: linear-gradient(rgba(255, 255, 255, 0), style-vars.$primary-color-transparent1, rgba(255, 255, 255, 0));
}

.heading__design1 {
  @extend %main-heading__design;
  background: linear-gradient(rgba(255, 255, 255, 0), style-vars.$primary-color-transparent1);
}

// Hymns Heading font
.hymns__heading {
  @include style-mixins.main-heading($heading-font-size: 1.8rem, $font-color: style-vars.$font-color-primary-heading, $sticky-top: 50px)
}

// .section__design {
//   // background: linear-gradient(white 2%, style-vars.$primary-color-transparent1 10%, white 85%);
//   padding: 10px 15px 0 15px;
// }

.custom-container {
  background-color: white;
  padding: 15px 200px;
}

// For Carousel
.slick-dots li button:before {
  padding-top: 10px;
  font-size: 14px !important;
  color: style-vars.$secondary-color-goldenrod !important;
}

.emphasized {
  font-weight: 500;
  color: style-vars.$secondary-color-goldenrod;
  // border-bottom: 2px solid style-vars.$secondary-color-goldenrod;
}

.emphasized1 {
  font-weight: 500;
  color: style-vars.$secondary-color-goldenrod;
}

// .rotated__left {
//   rotate: -1.9deg;
// }

// .rotated__right {
//   rotate: 3.5deg;
// }

.icon {
  font-size: 27px;
}

.pt-1 {
  padding-top: style-vars.$padding-default;
}

.pt-2 {
  padding-top: style-vars.$padding-default*2;
}

.pt-3 {
  padding-top: style-vars.$padding-default*3;
}

.pr-1 {
  padding-right: style-vars.$padding-default;
}

.pr-2 {
  padding-right: style-vars.$padding-default*2;
}

.pr-3 {
  padding-right: style-vars.$padding-default*3;
}

.pr-4 {
  padding-right: style-vars.$padding-default*4;
}

.pr-5 {
  padding-right: style-vars.$padding-default*5;
}

.pl-2 {
  padding-left: style-vars.$padding-default*2;
}

.pl-4 {
  padding-left: style-vars.$padding-default*4;
}

.info {
  padding: 10px;
  font-size: style-vars.$font-small;
  background-color: style-vars.$secondary-color-transparent;
}

// Primary button
.primary-button {
  @include style-mixins.main-button()
}

// Secondary button
.secondary-button {
  @include style-mixins.main-button($font-color: style-vars.$primary-color-dark, $button-background:style-vars.$font-color-primary-light , $button-background-hover: style-vars.$primary-color-transparent)
}


// Search button icon on header
.button-icon {
  @include style-mixins.no-outline-button($font-color: white,
  $background-hover: style-vars.$primary-color-hover,
  $background-hover-transparent: style-vars.$primary-color-hover-transparent,
  $button-border-radius: 50%, $button-padding: 7px);
  height: 50px;
  width: 50px;
  font-weight: bold;
}

.primary-button__no-outline {
  @include style-mixins.no-outline-button(
  $background-hover: style-vars.$primary-color-hover,
  $background-hover-transparent: style-vars.$primary-color-hover-transparent);
}

.secondary-button__no-outline {
  @include style-mixins.no-outline-button(
  $background-hover: style-vars.$secondary-color-gold-hover,
  $background-hover-transparent: style-vars.$secondary-color-gold-hover-transparent);
}

.item__routing {
  cursor: pointer;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
}

.centered {
  text-align: center;
}

.space-1 {
  padding-top: style-vars.$padding-default*3;
}

.space-2 {
  padding-top: style-vars.$padding-default*5;
}

.space-3 {
  padding-top: style-vars.$padding-default*10;
}

.space-5 {
  padding-top: style-vars.$padding-default*15;
}

// Informatio box style
.info {
  padding: 10px;
  font-size: style-vars.$font-small;
  background-color: style-vars.$secondary-color-transparent;
  position: relative;
  color: style-vars.$font-color-info;
  border: 1px solid #f5c6cb;
  border-radius: 5px;

  .close-button-info {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: style-vars.$font-color-info;
    cursor: pointer;
    line-height: 1;
  }
}

// Clear button for search box
.clear-button {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  font-size: style-vars.$font-legible;
  line-height: 1;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #929292;
  padding: 0;
  margin: 0;
  &:hover {
    color: style-vars.$font-color-primary;
  }
}



// For advanced search
.search__parameters {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
  font-size: style-vars.$font-legible;
}

// For hymn list in search, home page and hymns page
.flex-icon {
  width: 10%;
  /* Icon gradient color */
  background: -webkit-linear-gradient(style-vars.$secondary-color, style-vars.$font-color-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.checkbox-flex {
  display: flex;
  flex-direction: row;
  align-items: end;
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #eee;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
      /* Style the checkmark/indicator */
      left: 9px;
      top: 4px;
      width: 8px; // Checkmark width
      height: 14px; // Checkmark height
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  /* On mouse-over, add a grey background color */
  // input {
  //   &~.checkmark {
  //     background-color: #ccc;
  //   }

  //   &:checked {
  //     background-color: #bbb;

  //     /* When the checkbox is checked, add a blue background */
  //     &~.checkmark {
  //       background-color: #2196F3;

  //       /* Show the checkmark when checked */
  //       &:after {
  //         display: block;
  //       }
  //     }
  //   }
  // }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:hover ~ .checkmark {
      background-color: #ccc;
    }

    &:checked ~ .checkmark {
      background-color: #2196F3;

      &::after {
        display: block;
      }
    }
  }

}

// .checkbox-container {
//   position: relative;
//   display: inline-block;
//   cursor: pointer;
//   font-size: 22px;
//   user-select: none;

//   input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//     height: 0;
//     width: 0;

//     &:hover ~ .checkmark {
//       background-color: #ccc;
//     }

//     &:checked ~ .checkmark {
//       background-color: #2196F3;

//       &::after {
//         display: block;
//       }
//     }
//   }

//   .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 25px;
//     width: 25px;
//     background-color: #bbb;
//     border-radius: 50%; /* For rounded checkboxes */

//     &::after {
//       content: "";
//       position: absolute;
//       display: none;
//       left: 9px;
//       top: 5px;
//       width: 5px;
//       height: 10px;
//       border: solid white;
//       border-width: 0 3px 3px 0;
//       transform: rotate(45deg);
//     }
//   }
// }


.thin-divider {
  // padding: 1rem;
  // clip-path: polygon(50% 40%, 100% 50%, 50% 60%, 0% 50%);
  // background: linear-gradient(white, style-vars.$primary-color-transparent1, white);
  // z-index: -1;
  @include style-mixins.main-thin-divider($middle-color: style-vars.$primary-color-transparent1);
}

.back-blend {
  padding: 0.5rem;
  border-top: 2px solid style-vars.$primary-color-transparent1;
  border-left: 2px solid style-vars.$primary-color-transparent1;
  border-right: 2px solid style-vars.$primary-color-transparent1;
  border-radius: 5px 5px 0 0;
  z-index: -1;
}

/* Hymn List */

.flex-container {
  display: flex;
  align-items: center;
}

// Hymn number
.flex-number {
  width: 20%;
}

// Hymn title
.flex-text {
  width: 70%;
}

// Song anchor flex item padding
.flex-item__padding {
  padding: 0 0.5rem;
}

// Section before the footer
.more {
  padding: 60px 0 40px;
}


// Text at the end of the section that is not a link
.after-text {
  font-size: style-vars.$font-legible;
  // color: style-vars.$primary-color;
}

.last-section__before {
  // padding: 1.5rem;
  @include style-mixins.two-gradient(white, style-vars.$primary-color-dark);
}

// Glowing text
.glow {
  font-size: style-vars.$font-legible;
  font-weight: bold;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

// Styles for last image on page
.image-container {
  display: block;
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  // background-color: #008CBA;
  background-color: style-vars.$primary-color-dark;
}

.overlay__text {
  // color: white;
  // font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

// Remove padding right from modal
body.modal-open {
  padding-right: 0 !important;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px style-vars.$secondary-color-gold, 0 0 30px style-vars.$secondary-color-gold, 0 0 40px style-vars.$secondary-color-gold, 0 0 50px style-vars.$secondary-color-gold, 0 0 60px style-vars.$secondary-color-gold;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 20px style-vars.$secondary-color-gold-light, 0 0 30px style-vars.$secondary-color-gold-light, 0 0 50px style-vars.$secondary-color-gold-light, 0 0 50px style-vars.$secondary-color-gold-light, 0 0 60px style-vars.$secondary-color-gold-light, 0 0 70px style-vars.$secondary-color-gold-light;
  }
}

.scroll-over {
  // background-color: white;
  position: relative;
  z-index: 2;
}



@media (max-width: style-vars.$laptop-max-width) {
  .custom-container {
    padding: 15px 90px;
  }

}

@media (max-width: style-vars.$tablet-max-width) {
  .custom-container {
    padding: 15px 50px;
  }

  .thin-divider {
    padding: 0.6rem;
  }

}

@media (max-width: style-vars.$phone-max-width) {
  .custom-container {
    padding: 15px;
  }

  .mob__pt-2 {
    padding-top: style-vars.$padding-default*2;
  }

  .mob__centered {
    text-align: center;
  }

  .search__parameters {
    display: flex;
    flex-direction: column;
    align-items: center;

    .checkbox-flex {
      padding: 10px 0;
    }
  }

  .thin-divider {
    padding: 0.4rem;
  }

}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
