/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-family: "Inter", "Reddit Sans", Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  margin: 0;
}

.container {
  padding: 15px 100px;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: blue !important;
}

.capitalize {
  text-transform: capitalize;
}




@media (max-width: 800px) {
  .container {
    padding: 15px;
  }
}


