


@media (min-width: 1024px) {
  .carousel-section {
    padding-top: 30px;
  }
}

@media (max-width: 800px) {
  .carousel-section {
    padding-top: 15px;
  }
}

@media (max-width: 480px) {
  .carousel-section {
    padding-top: 0;
  }
}
