// /* HymnSearch private styles */
@use './../../partial-styles/style-vars';

#search-component {
  padding-bottom: 15px;
}

.search-box-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  color: style-vars.$font-color-primary;
  padding: .5rem 1rem;
  width: 100%;
  border-color: style-vars.$primary-color-half-transparent;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-size: style-vars.$font-legible;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
  background-color: style-vars.$primary-color-transparent;
}

li {
  list-style-type: none;
}

.label-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .flex-icon {
//   width: 10%;
//   /* Icon gradient color */
//   background: -webkit-linear-gradient(style-vars.$secondary-color, style-vars.$font-color-primary);
//   -webkit-background-clip: text;
//   background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.search-result {
  li {
    a {
      font-size: style-vars.$font-legible;
      border-radius: 0 0 5px 5px;
      display: inline-block;
      width: 100%;
      padding: .5rem;
      box-sizing: border-box;
      text-decoration: none;
      color: style-vars.$font-color-primary;
      transition: background-color 0.3s ease-out, color 0.3s ease-out;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    }
    a:hover {
      background-color: style-vars.$primary-color-hover;
      color: white;
      .flex-icon {
        /* Change gradient color on hover */
        background: linear-gradient(to right, #ffffff, #ffffff);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

