<!-- Search Component -->
<div id="search-component">
  <!-- Header label -->
  <label for="search-box" class="heading__design" [ngClass]="{'heading': page_search, 'heading1': !page_search}">
    <div class="label-flex">
      <!-- Left music note image -->
      <div><img width="70px" src="assets/images/music_staff.png" alt="Music Staff"></div>
      <!-- Title -->
      <div class="centered">{{ searchLabel }}</div>
      <!-- Right music note image -->
      <div>
        <img width="70px" src="assets/images/music_staff_right.png" alt="Music Staff">
      </div>
    </div>
  </label>

  <!-- Search Body -->
  <div class="white-back" [ngClass]="{'custom-container': page_search}">
    <!-- Search parameters -->
    <div class="search__parameters">
      <div class="space-1"></div>
      <span class="centered">Search hymn by title or:</span>
      <div class="checkbox-flex pl-4">
        <label class="checkbox-container pr-4">
          <span class="emphasized">Verse</span>
          <input type="checkbox" id="verse" name="verse" #verseCheckbox (click)="getVerseCheckedValue(searchBox.value)">
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-container pr-4">
          <span class="emphasized">Chorus</span>
          <input type="checkbox" id="chorus" name="chorus" #chorusCheckbox (click)="getChorusCheckedValue(searchBox.value)">
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-container">
          <span class="emphasized">All</span>
          <input type="checkbox" id="all" name="all" #allCheckbox (click)="getAllCheckedValue(searchBox.value)">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <!-- Search Input -->
    <div class="search-box-wrapper">
      <input #searchBox id="search-box" (input)="search(searchBox.value)" />
      <button type="button" class="clear-button" *ngIf="searchBox.value" (click)="clearSearch(searchBox)">
        &times;
      </button>
    </div>

    <!-- Search Results -->
    <ul class="search-result" @listAnimation>
      <li *ngFor="let hymn of hymns$ | async">

        <a (click)="navigateToHymn(hymn.hymn_number)">
          <div class="flex-container">
            <div class="flex-icon">
              <i class="bi bi-music-note"></i>
            </div>
            <div class="flex-number">
              {{ hymn.hymn_number }}
            </div>
            <div class="flex-text">
              {{ hymn.title | capitalize }}
            </div>
          </div>
        </a>
        <!-- <a (click)="navigateToHymn(hymn.hymn_number, hymn.id)">
        <span> {{ hymn.title | capitalize }} </span>
      </a> -->
      </li>
    </ul>

    <!-- Info Message -->
    <div class="info" *ngIf="showInfo">
      No hymns found.
      <button (click)="closeInfo()" class="close-button-info">&times;</button>
    </div>
  </div>
</div>
