// /* HymnSearch private styles */
@use './../../partial-styles/style-vars';

// Search component
#search-component {
  padding-bottom: 15px;
}

// Search box wrapper
.search-box-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Search input
input {
  color: style-vars.$font-color-primary;
  padding: .5rem 1rem;
  width: 100%;
  border-color: style-vars.$primary-color-half-transparent;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-size: style-vars.$font-legible;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  &:focus {
    outline: none;
    background-color: style-vars.$primary-color-transparent;
  }
}

// Search results list item
li {
  list-style-type: none;
}

// Search results
.search-result {
  li {
    // Search result link
    a {
      font-size: style-vars.$font-legible;
      border-radius: 0 0 5px 5px;
      display: inline-block;
      width: 100%;
      padding: .5rem;
      box-sizing: border-box;
      text-decoration: none;
      color: style-vars.$font-color-primary;
      cursor: pointer;
      transition: background-color 0.3s ease-out, color 0.3s ease-out;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    }
    a:hover {
      background-color: style-vars.$primary-color-hover;
      color: white;
      .flex-icon {
        /* Change gradient color on hover */
        background: linear-gradient(to right, #ffffff, #ffffff);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

// Search results unordered list
ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

